.container {
  width: 350px;
  margin: auto;
}
p {
  line-height: 1.5;
  margin: 100px 0;
}
.name {
  display: block;
  text-align: end;
}
.item-1::first-letter {
  font-size: 5rem;
  float: left;
  line-height: 0.9;
  padding: 0 0.3rem;
  margin: 0 0.3rem 0 0;
  /* border: 2px solid; */
  /* border-radius: 8px; */
  font-family: "Times New Roman", Times, serif;
}

.item-2::first-letter {
  font-size: 5rem;
  float: left;
  line-height: 0.9;
  background: grey;
  color: whitesmoke;
  padding: 0 0.3rem;
  margin: 0 0.3rem 0 0;
}
.item-3::first-letter {
  padding: 1em .8em 1.5em .8em;
  border: 1px solid black;
  margin: 0 .7rem 0 0;

  -webkit-initial-letter: 3;  /* only works on Safari */
  initial-letter: 3;
 
}
